@import "./size"
$color-white=#fff
$clor-dark1=rgb(7,17,27)
$clor-dark2=rgb(240,20,20)
$clor-dark3=rgb(147,153,159)
$color-red=rgb(240,20,20)
$color-blue=rgb(0,160,220)
$color-green = #00b43c

$background-dark=rgba(7,17,27,.5)
$background-dark1=rgba(7,17,27,.2)
$background-dark2=rgb(20,29,39)
$background-dark3=rgb(43,51,59)
$background-dark4=#f3f5f7
$background-dark5=rgba(0,0,0,.2)

$color-row-line=rgba(7,17,27,.1)
$color-col-line=#d9dde1

